/* Sections: Container */
div#sections {
    width: 95%;
}

/* Sections: Section List */
div#sections > div#section-list {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sections: Add Section Button */
div#sections > button {
    width: 7.4rem;
    height: 2.1rem;
    color: black;
    background-color: var(--color2);
    border-radius: 0.5rem;
    border: 1px solid transparent;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Animation: Border Fade In */
    transition-property: border-color;
    transition-duration: 0.3s;
}
div#sections > button:hover {
    /* Animation: Border Fade In */
    border-color: white;
}